<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="classes" >
    <test name="Sample Tests">
        <classes>
            <class name="org.vishnu.tests.SampleTest"/>
            <class name="org.vishnu.tests.SampleTest2"/>
        </classes>
    </test>
</suite>